# Configurações do Servidor Web
HOST=0.0.0.0
PORT=8443

# Caminhos absolutos para os seus certificados SSL reais
# Exemplo (Let's Encrypt): /etc/letsencrypt/live/seudominio.com/fullchain.pem
SSL_CERT_PATH=certs/cert.pem
SSL_KEY_PATH=certs/key.pem

# Chave secreta para geração dos tokens JWT (Mude para uma string longa e aleatória em produção)
SECRET_KEY=sua_chave_secreta_super_segura_aqui_mude_em_producao
RELOAD=True

# (Opcional) Especifique o caminho completo para o executável do 'docker compose'
# se ele não estiver no PATH padrão do usuário que executa o servidor web.
# Exemplo Windows: C:\\Program Files\\Docker\\Docker\\resources\\bin\\docker-compose.exe
# Exemplo Linux: /usr/local/bin/docker-compose
DOCKER_COMPOSE_EXECUTABLE=
